/*.answerButton {*/
    /*-fx-font: 16px "Serif";*/
    /*-fx-padding: 10;*/
    /*-fx-background-color: #CCFF99;*/
/*}*/

/*.button {*/
    /*-fx-font: 16px "Serif";*/
    /*-fx-padding: 10;*/
    /*-fx-background-color: #CCFF99;*/
/*}*/

.listItem {
    -fx-border-color: #686254;
    -fx-border-radius: 4;
    -fx-shape:"m167,120c0,-5.43379 4.56621,-10 10,-10l186,0c5.43378,0 10,4.56621 10,10l0,186c0,5.43378 -4.56622,10 -10,10l-186,0c-5.43379,0 -10,-4.56622 -10,-10l0,-186z";
    -fx-padding: 0 0 3 0;
}

.listViewport {
    -fx-background-color: whitesmoke;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-padding: 5 5 5 5;
}

.listItem:hover {
    -fx-border-width: 5;
    -fx-border-color: #ec971f;
}

.listLabel {
    -fx-background-color: whitesmoke;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-padding: 3;
}

.button:disabled {
    -fx-opacity: 1.0;
}

.answerCorrect {
    -fx-background-color: #86ff00 !important;
}

.answerIncorrect {
    -fx-background-color: #ff3400 !important;
}

.boxLabel {
    -fx-background-color: whitesmoke;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
}

.dialogContent {
    -fx-padding: 10;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.dialogContent > label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.dialogContent > *.label.content{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
}

.progressBarFine > .bar {
    -fx-background-color: #5bc0de !important;
}

.progressBarCaution > .bar {
    -fx-background-color: #f0ad4e !important;
}

.progressBarWarn > .bar {
    -fx-background-color: #d9534f !important;
}